.beneficios {
  -webkit-font-smoothing: antialiased;
  margin: 0;
  width: 100%;
  color: var(--color00);
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  -webkit-box-align: center;
  align-items: center;
  padding: 2em 0 0;
  background-color: var(--color02);
}

.beneficios h4 {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0;
  text-transform: uppercase;
  color: var(--color07);
  font-weight: 400;
  font-size: 1em;
  line-height: 1em;
  letter-spacing: .1em;
  padding-bottom: .25em;
}

.beneficios h3 {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0;
  color: var(--color01);
  font-weight: 600;
  font-size: 1.75em;
  line-height: 1em;
  padding-bottom: .75em;
}

.list {
  -webkit-font-smoothing: antialiased;
  color: var(--color00);
  -webkit-box-direction: normal;
  box-sizing: border-box;
  list-style: none;
  margin: 0;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: justify;
  justify-content: space-between;
  -webkit-box-align: start;
  align-items: flex-start;
  padding: .75em;
  font-weight: 400;
}

.list li {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  list-style: none;
  font-weight: 400;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  color: var(--color06);
  width: calc(50% - 1em);
  padding-bottom: 1.4em;
}

.list li p {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  list-style: none;
  font-weight: 400;
  color: var(--color06);
  box-sizing: border-box;
  margin: 0;
  padding-left: .5em;
  width: calc(100% - 3.5em);
  line-height: 1.1em;
  font-size: .95em;
}

.beneficios .image {
  -webkit-font-smoothing: antialiased;
  color: var(--color00);
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0;
  padding-left: .75em;
  padding-right: .75em;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  width: 70%;
}

.beneficios .image .building {
  -webkit-font-smoothing: antialiased;
  color: var(--color00);
  -webkit-box-direction: normal;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  height: 100%;
  width: 100%;
}