.dashboard-area {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  flex-wrap: wrap;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  display: block;
  min-height: 100%;
}

div main {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  position: relative;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: start;
  align-items: flex-start;
  width: 100%;
  padding: 0 0 3.5em 0;
}

div.list.content.progressive {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  max-width: 1440px;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 100%;
  min-height: 100%;
  overflow: hidden;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: start;
  align-items: flex-start;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
}

main.list-properties {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  overflow: hidden;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
  flex-direction: row;
  -webkit-box-align: stretch;
  align-items: stretch;
  align-content: flex-start;
}

div.item.cols-1.add {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  opacity: 1;
  transform: translate(0);
  transition: all .1s ease-in-out;
}

.card-area {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: center;
  align-items: center;
  user-select: none;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  padding: .375em .75em .375em 2.75em;
}

div.card-container {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  box-sizing: border-box;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  position: relative;
  -webkit-box-align: start;
  align-items: flex-start;
  align-content: flex-start;
  height: 100%;
  padding: .75em 0;
  border-radius: .75rem;
  box-shadow: 0 .2em .7em rgba(0,0,0,.08);
  cursor: pointer;
  background-color: var(--color00);
}

div.display {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-box-direction: normal;
  cursor: pointer;
  box-sizing: border-box;
  display: block;
  position: relative;
  overflow: hidden;
  background-color: var(--color06);
  border-radius: .75rem;
  box-shadow: 0 .2em .7em rgba(0,0,0,.08);
  margin-left: -2em;
  width: 28vw;
  height: 28vw;
}

div.display img {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  -webkit-box-direction: normal;
  cursor: pointer;
  box-sizing: border-box;
  max-width: 100%;
  display: block;
  object-fit: cover;
  height: 100%;
  width: 100%;
}

div.data {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: pointer;
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
  flex-direction: column;
  padding: 0 .75em;
  width: calc(100% - 28vw + 2em);
}

div.data h3 {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: pointer;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0;
  color: var(--color07);
  font-size: 1.1em;
  font-weight: 600;
}

div.data small {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: pointer;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  font-size: .8em;
  color: var(--color06);
  font-family: Work Sans,sans-serif;
}

div.data h4 {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: pointer;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0;
  font-size: 1em;
  color: var(--color01);
  font-family: Work Sans,sans-serif;
  font-weight: 400;
}

div.tags {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: pointer;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  width: 100%;
  padding: .25em 0;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  overflow: hidden;
}

span.tag {
  -webkit-font-smoothing: antialiased;
  user-select: none;
  cursor: pointer;
  -webkit-box-direction: normal;
  box-sizing: border-box;
  margin: 0;
  margin-right: .25em;
  margin-bottom: .25em;
  font-size: .7em;
  color: var(--color07);
  font-family: Work Sans,sans-serif;
  font-weight: 400;
  padding: .1em .5em;
  border-radius: .75rem;
  border: 1px solid;
  border-style: dotted;
  border-color: var(--color05);
  margin-top: .25em;
}

footer {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  z-index: 110;
  width: 100%;
  position: fixed;
  bottom: 0;
  right: 0;
}

footer .filter-display-area {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  z-index: 100;
  width: 100%;
  position: relative;
  flex-wrap: wrap;
  -webkit-box-pack: start;
  justify-content: flex-start;
  -webkit-box-align: center;
  align-items: center;
  padding: 1em 0 1em 1em;
  background-image: linear-gradient(180deg,hsla(0,0%,94.9%,0) 0,#f2f2f2 50%);
  bottom: 0;
  display: flex;
}

footer .filter-display-area .display {
  color: var(--color06);
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
}

.display h3 {
  -webkit-font-smoothing: antialiased;
  box-sizing: border-box;
  margin: 0;
  font-family: Work Sans,sans-serif;
  font-size: .9em;
  font-weight: 300;
  color: var(--color06);
  padding-left: .5em;
}

.display h3 b {
  -webkit-font-smoothing: antialiased;
  font-size: .9em;
  color: var(--color06);
  box-sizing: border-box;
}

a {
  text-decoration: none;
}

button.btn-cancel-mobile {
  -webkit-box-direction: normal;
  vertical-align: middle;
  white-space: normal;
  box-sizing: border-box;
  overflow: visible;
  width: auto;
  cursor: pointer;
  background: transparent;
  border: none;
  line-height: 1em;
  transition: all .15s ease-in-out;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
  padding: .5em;
  font-size: 1.2em;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  color: var(--color01);
  background-color: var(--color00);
  border-radius: 2em;
  margin: 0 .25em;
  text-transform: uppercase;
  box-shadow: 0 .1em .3em rgba(0,0,0,.08);
  position: inherit;
  left: .25em;
  top: .25em;
  z-index: 3000;
}

button.btn-cancel-mobile span.icon {
  -webkit-font-smoothing: antialiased;
  -webkit-box-direction: normal;
  white-space: normal;
  cursor: pointer;
  line-height: 1em;
  font-size: 1.2em;
  color: var(--color01);
  text-transform: uppercase;
  box-sizing: border-box;
  margin: 0;
  display: flex;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}