@import url('https://fonts.googleapis.com/css?family=Work+Sans&display=swap');

* {
  box-sizing: border-box;
}

:root {
  --color00: #fff;
  --color02: #f2f2f2;
  --color03: #e7e7e7;
  --color04: #c3c3c3;
  --color05: #8b8b8b;
  --color06: #7b818d;
  --color07: #2a2e43;
  --color08: #232020;
  --color09: #1b1e2e;
  --color10: #333;
  --color11: #707070;
  --color12: rgba(30,35,50,0.8);
  --color13: #606060;
  --color14: #515774;
  --color01: #e33;
}

html {
  -webkit-locale: "es";
  box-sizing: border-box;
  height: 100%;
  color: -internal-root-color;
}

body {
  box-sizing: border-box;
  height: 100%;
  margin: 0;
  font-family: Work Sans,sans-serif;
  background-color: var(--color02);
  color: var(--color06);
  min-height: 100%;
}

.home {
  font-family: Work Sans,sans-serif;
  color: var(--color06);
  box-sizing: border-box;
  display: flex;
  flex-wrap: wrap;
  -webkit-box-pack: center;
  justify-content: center;
  -webkit-box-align: start;
  align-items: flex-start;
  align-content: flex-start;
  width: 100%;
  position: relative;
  overflow: hidden;
  min-height: 100%;
  -webkit-font-smoothing: antialiased;
  padding-top: 2.5em;
}

header {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  width: 100%;
  background-image: linear-gradient(180deg,#f2f2f2 75%,hsla(0,0%,94.9%,0));
  background-repeat: repeat-x;
  z-index: 80;
  margin-top: 0;
  transition: all .25s;
  top: 0;
  position: fixed;
}

header h1 span {
  display: flex;
  align-self: flex-start;
  cursor: pointer;
  margin: .5em .75em;
  width: 6em;
  color: var(--color01);
}

.home {
  -webkit-box-pack: center;
  justify-content: center;
  z-index: 0;
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  background-size: contain!important;
  background: url(/img/home-b-mob@2x.jpg) repeat-x transparent;
}

.icon {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-item-align: center;
  align-self: center;
  position: relative;
  height: 1em;
  width: 1em
}

.btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
  flex-wrap: wrap;
  cursor: pointer;
  background: transparent;
  border: none;
  padding: 0;
  line-height: 1em;
  -webkit-transition: all .15s ease-in-out;
  transition: all .15s ease-in-out
}